asgiref==3.8.1
bleach==6.2.0
Brotli==1.1.0
click==8.1.8
dj-database-url==2.3.0
Django==5.1.4
django-summernote==0.8.20.0
gunicorn==23.0.0
h11==0.14.0
packaging==24.2
psycopg==3.2.3
psycopg2-binary==2.9.10
sqlparse==0.5.3
tornado==6.4.2
typing_extensions==4.12.2
uvicorn==0.34.0
webencodings==0.5.1
whitenoise==6.8.2
