@font-face {
  font-family: 'NZ';
  src: url('typo/PlaywriteNZ.ttf') format('TrueType');
}
@font-face {
  font-family: 'Rubik';
  src: url('typo/Rubik.ttf') format('TrueType');
}
:root {
  --padding: 1.5rem;
  --main-font-size: 1.1rem;
  --strong-font-size: 1.5rem;
  --main-line-height: 1.5rem;
  --title-font-size: 28pt;
  --title-line-height: 3rem;
  --color-jaune: #f8ef88;
  --color-vert: #5cba9a;
  --color-rose:#f29799;
  --color-vert-canard: #0d4048;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  background-color: /*#EDEDED*/ white;

}
.vertfirst{
  width: 100vw;
  height: 93vh;
  bottom: 0px;
  display: block;
  position: fixed;
  background-color: var(--color-vert-canard);
  color: var(--color-vert-canard);
  z-index: 10;
}
.vertfirst> span{
  position: absolute;
  color: white;
  font-size: 100pt;
  top: 60vh;
  left: 35vw;
}
/*________ALERTE__*/

#myModal{
  display: none;
  width: 100%;
  justify-content: center;
}

.close{
  position: relative;
  display: none;
  left: 10%;
  padding: 30px 0px 30px 0px;
  cursor : pointer;
  color: var(--color-vert-canard);
  font-size: var(--title-font-size);
}
.modal-content{
  z-index: 100;
  position: fixed;
  background-color: var(--color-vert);
  opacity: 0.95;
  text-align: center;
  width: max(300px, 30vw);
  height: auto;
  top: 20vh;
  border-radius: 40px;
}

/*_________TOP + FOOTER___*/

nav{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
}

.logo{
  position : fixed;
  width: 25vw;
  top: 20vh;
  left: 20vw;
  height: auto;
  z-index: 20;
}
  .logo-responsive{
    display: none;
  }
.menu{
  padding-top: 20px;
  width: 100vw;
  flex-basis: max-content;
  display: block;
  word-break: keep-all;
}
.menu a{
  margin: 10px;
}
button, a{
  background-color: var(--color-jaune);
  color: var(--color-vert-canard);
  text-decoration: none;
  font-family: "Rubik";
  font-size: 14pt;
  border-radius: 5px;
}
a:hover{
  color: var(--color-vert);
}
a::before{
content: "➜";
padding-right: 5px;
}
.horaire{
  background-color: var(--color-vert-canard);
  position: fixed;
  top: 20vh;
 right: 20vw;
 padding: 40px 30px 40px 30px;
z-index: 20;
 border-radius: 10px;
}
.horaire-responsive{
  display: none;
}

footer {
  position: fixed;
  display:flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 0.7px;
  z-index: 20;
  padding : 10px 0px 0px 0px;
}
.footer-responsive{
  display: none;
}

/*________________GRID CENTRALE___*/



.paragraphes{
  position: relative;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows:  minmax(200px, auto);
  grid-auto-columns: 500px;
  margin: 450px auto 100px auto;
 
}
.paragraphe{
  position: relative;
  z-index: 5;
}
.contenu{
  border-radius: 10px;
    padding:30px;
}

p{
  margin-top:0;

}
ul{
  padding: 0 ;
  margin-bottom: 0;
}



.Gauche{
grid-column: 1;
}
.Milieu{
grid-column: 2;
}
.Droite{
grid-column: 3;
}


.Gauche.Large{
  grid-column: 1 / span 2;
}
.Droite.Large{
  grid-column: 2 / span 2;
}
.Milieu.Large{
  grid-column: 2 / span 2;
}

.Large>.contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Xlarge{
  grid-column: 1 / span 3;
}

.paragraphes:nth-child(2n){
  background-color: black;
}


.Une{
  grid-row: 1;
}
.Deux{
  grid-row: 2;
}
.Trois{
  grid-row: 3;
}
.Quatre{
  grid-row: 4;
}
.Cinq{
  grid-row: 5;
}
.Six{
  grid-row: 6;
}
.Sept{
  grid-row: 7;
}
.Huit{
  grid-row: 8;
}
.Neuf{
  grid-row: 9;
}
.Dix{
  grid-row: 10;
}

img{
 width: 110%;
 height: auto;
 border-radius: 10px;
}


/*__________LOOK FOND_________*/



.Rose{
  background-color: var(--color-rose);
}
.Vert{
  background-color: var(--color-vert);
}
.Jaune{
  background-color: var(--color-jaune);
}
.Blanc{
  background-color: white;
}
.vertCanard{
  background-color: var(--color-vert-canard);
}
.Transparent{
  background-color: transparent;
}

/*_______________LOOK TEXTE_____*/


h1{ 
text-shadow: 3px 3px 6px var(--color-vert); 
padding-bottom: 30px;
line-height: var(--title-line-height);
}
.ombreRose{
  text-shadow: 3px 3px 6px var(--color-rose); 
}
.ombreJaune{
  text-shadow: 3px 3px 6px var(--color-jaune); 
}
.ombreVerte{
  text-shadow: 3px 3px 6px var(--color-vert); 
}
.ombreVertCanard{
  text-shadow: 3px 3px 6px var(--color-vert-canard); 
}

/*______MEDIA QUERIES__*/

@media (max-width:900px)  {
  .vertfirst{
z-index: 7;
top: 0px;
  }
  .vertfirst> span{
    color: var(--color-vert-canard);
  }
.logo{
display: none;
}
.logo-responsive{
  display: block;
  width: 80vw;
  margin: auto;
  position: relative;
  margin-top: 200px;
  z-index: 9;
}
.horaire{
display: none;
}
.horaire-responsive{
  display: block;
  z-index: 20;
  position: relative;
  margin-top: 30px;
  z-index: 9;
}
.menu{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  flex-basis: auto;
  padding-top: 0px;
  position: fixed;
  left: 0px;
  z-index: 50;
  }
.menu > button{
  border: none;
  padding: 0px;
  border-radius: 0;

}
  .paragraphes{
  position: relative;
  width: 60%;
  display: flex;
flex-direction: column;
  margin: 50px auto 100px auto;}
  .paragraphe{
padding-top: 100px;
  }

 footer{
  position: relative;
 }
}
@media screen and (max-width: 450px) {
  .paragraphes{
  position: relative;
  width: 90%;}

}